<template>
  <div class="home">
    <MainNavBar/>
    <MainCarousel />
    <Counter/>
  </div>
</template>

<style lang="scss">
  .main-logo{
    width: 8em;
  }
</style>

<script>
// @ is an alias to /src
import MainCarousel from '../components/MainCarousel';
import Counter from '../components/Counter';
import MainNavBar from '../components/MainNavBar';


export default {
  name: 'home',
  components: {
    MainCarousel,
    Counter,
    MainNavBar
  },
};
</script>
