<template>
  <div>
	  <MainNavBar/>
	  <h1>SHOPPING</h1>
	  <div class="w-50" style="background-color: #eee;"><ShoppingList/></div>
	  
 	  
</div>
</template>

<script>
  import MainNavBar from '../components/MainNavBar';
  import ShoppingList from '../components/ShoppingList';
  export default {
    name: 'shopping',
    components: {
    	ShoppingList,
    	MainNavBar
	}
  };
</script>
