<template>
    <div>
        <p>{{ $store.state.count }}</p>
        <mdb-btn v-on:click="increment($event)" size="sm" color="primary">+</mdb-btn>
        <mdb-btn @click="decrement($event)" size="sm" color="default">-</mdb-btn>
        <input type="text" v-on:input="changeValue">
        <h1 v-on:mouseover="onHover" v-on:mouseout="outHover"> HELLO {{ name }}</h1>
    </div>
</template>


<script>
import {mapGetters} from 'vuex';
import {mdbBtn} from 'mdbvue';
export default {
    name : 'Counter',
    components : {
        mdbBtn
    },
    data : function() {
        return {
            name : 'VUE'
        }
    },
    methods : {
        increment(event) { 
            this.$store.commit ('increment');
            console.log ('Increment +', this.$store.state.count)
            event.target.style.color = '#' + parseInt(Math.random() * 0xffffff).toString(16);
        },
        decrement() { 
            this.$store.commit ('decrement')
        },
        changeValue: function(e) {
            this.name = e.target.value;
            
        },
        onHover: function (e) {
            e.target.style.color="blue"
        },
        outHover: function (e) {
            e.target.style.color=""
        },

    }
}
</script>
