<template>
  <mdb-navbar class="indigo" >
    <b-container class="navBar">
    <mdb-btn tag="a" size="sm" floating class="btn-vk" icon="vk" fab></mdb-btn>
    <mdb-btn tag="a" size="sm" floating class="btn-ins" icon="instagram" fab></mdb-btn>
    </b-container>
  </mdb-navbar>
</template>


<script>
import { mdbNavbar, mdbNavItem, mdbBtn } from 'mdbvue';
export default {
  name: 'MainSocialBar',
  components: {
    mdbNavbar,
    mdbNavItem,
    mdbBtn
    },
  }
</script>

<style lang="scss" scoped>
.indigo {
  background-color: rgb(65, 62, 62)!important;
  height: 46px;
}
.btn-ins {
  background-color: rgb(221, 59, 59)!important;
}
.btn-vk {
  font-size: 1.1 rem;
}
.navBar {
  justify-content: flex-start!important;
}
</style>

