<template>
  <!--Navbar-->
  <mdb-navbar class="indigo" dark>
    <!-- Navbar brand -->
    <b-container>
    <mdb-navbar-brand href="https://mdbootstrap.com/">
      <img class="main-logo" alt="Vue logo" src="../assets/logo.svg">
    </mdb-navbar-brand>
    <mdb-navbar-toggler>
      <mdb-navbar-nav>
        <!-- <router-link to="/"> -->
       <mdb-nav-item to="/" active>Новости</mdb-nav-item>
        <!-- </router-link> -->
        <!-- <router-link to="/about"> -->
        <mdb-nav-item to="/about">Статьи</mdb-nav-item>
          <!-- </router-link> -->
        <mdb-nav-item href="#">Форум</mdb-nav-item>
        <mdb-nav-item href="#">Блоги</mdb-nav-item>
        <mdb-nav-item href="#">Консультации</mdb-nav-item>
        <mdb-nav-item href="#">Справочник мам</mdb-nav-item>
        <!-- Dropdown -->
        <mdb-dropdown tag="li" class="nav-item">
          <mdb-dropdown-toggle tag="a" navLink color="indigo" slot="toggle" waves-fixed>Ещё</mdb-dropdown-toggle>
          <mdb-dropdown-menu>
            <mdb-dropdown-item>Фотоконкурсы</mdb-dropdown-item>
            <mdb-dropdown-item>Школа мам</mdb-dropdown-item>
            <mdb-dropdown-item>Календарь беременности</mdb-dropdown-item>
            <!-- <mdb-dropdown-item href="/shopping">Совместные закупки</mdb-dropdown-item> -->
            <!-- <router-link to="/shopping">
            <mdb-dropdown-item>Совместные закупки</mdb-dropdown-item>
            </router-link> -->
            <mdb-dropdown-item><router-link to="/shopping">Совместные закупки</router-link></mdb-dropdown-item>
            
          </mdb-dropdown-menu>
        </mdb-dropdown>
      </mdb-navbar-nav>
      <!-- Search form -->
      <mdb-form-inline>
        <mdb-input type="text" placeholder="Поиск" aria-label="Search"/>
      </mdb-form-inline>
    </mdb-navbar-toggler>
    </b-container>
  </mdb-navbar>
</template>

<script>
  import { mdbNavbar, mdbNavbarBrand, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbDropdown, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbDropdownItem, mdbFormInline } from 'mdbvue';
  export default {
    name: 'MainNavBar',
    components: {
      mdbNavbar,
      mdbNavbarBrand,
      mdbNavbarToggler,
      mdbNavbarNav,
      mdbNavItem,
      mdbDropdown,
      mdbDropdownMenu,
      mdbDropdownToggle,
      mdbDropdownItem,
      mdbFormInline,
      mdbInput
    }
  }
</script>

<style lang="scss" scoped>
  .main-logo{
    width: 3.5em!important;
  }
</style>