<template>
  <div>
  <mdb-list-group v-for="item in res.data.results">
    <mdb-list-group-item href="#" :action="true"  class="flex-column align-items-start">
      <div class="d-flex w-100 justify-content-around">
        <h5 class="mb-1">{{item.title}}</h5>
        <small>{{item.date}}</small>
      </div>
      <p class="mb-1">{{item.description}}</p>
      <small>{{item.delivery}}</small>
    </mdb-list-group-item>
  </mdb-list-group>
  </div>
</template>

<script>
  import { mdbListGroup, mdbListGroupItem } from 'mdbvue';
  export default {
    name: 'HorizontalListPage',
    components: {
      mdbListGroup,
      mdbListGroupItem
    },
    data() {
	    return {res:null}
	},
	mounted() {
	    this.$http.get('http://127.0.0.1:8000/shopping/list/').then(response=>(this.res=response))}
  }
</script>